<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">HAPPY VILLAGE</h4>
        <span class="text-muted">SALIR</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

<div class="list-group" *ngFor="let item of dataUser">
<!--     <a href="#" class="list-group-item list-group-item-action active">
      Cras justo odio
    </a> -->

    <a  class="list-group-item list-group-item-action" (click)="saveData(item)">{{item.username}}</a>
<!--     <a href="/admin" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="/admin" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="/admin" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
  </div>